
<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<title>Proyecto Tienda</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="css/styles.css">

</head>
<body>
	

	

 	<!-- <div class="container">
 		<div class="row">
 			<div class="col-md-offset-1 col-md-10"> 
 				<div class="jumbotron"> 
 					<div class="container"> 
 						<h2 class="text-center">Aun no ha seleccionado ningun 
 							producto para comprar</h2> 
					</div>
				</div> 
			</div> 
		</div>  -->
		<div class="row">
			<div class="col-md-offset-4 col-md-4">
				<table class="table table-striped">
					<thead>
						<tr>
							<td><strong>ID</strong></td>
							<td><strong>Fecha</strong></td>
							<td></td>
						</tr>
					</thead>
					<tbody>
						<tr th:each="cabecera: ${cabecera2}">
							<td><span th:text="${cabecera.id}"></span>
							<td><span></span></td>
							<td><div>
							<form
							th:action="@{/detallePedidoBD/{id}(id=${cabecera.id})}"				
								method="get">
								<input type="hidden" name="id">
								<button type="submit" class="btn btn-lg btn-success btn-product">Ver Pedido</button>
							</form>
						</div></td>
						<td></td>
						</tr>
					</tbody>
				</table>

			</div>
					</div>
			<a th:href="@{/trabajadorCompras}" class="btn btn-success">vover</a>
		</div>
	<br>
	<br>
	
</body>
</html>