<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
	<META HTTP-EQUIV="REFRESH" CONTENT="URL=http://localhost:8080/clientes">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
		integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
		crossorigin="anonymous"></script>
	<script src="../static/js/recarga.js" th:src="@{/js/recarga.js}"></script>
	<link rel="stylesheet" th:href="@{/css/styles2.css}">
	<title>Document</title>
</head>

<body>
	<h1 class="titulo-factura">Carrito</h1>
	<div class="container">
		<div class="row" th:if="${carrito == null}">
			<div class="col-md-offset-1 col-md-10">
				<div class="jumbotron">
					<div class="container">
						<h2 class="text-center">Aun no ha seleccionado ningun
							producto para comprar</h2>
					</div>
				</div>
				<td><a sec:authorize="isAuthenticated()" th:href="@{/clientes}" class="btn btn-default"> <span
							class="glyphicon glyphicon-shopping-cart"></span>
						Continuar
						comprando
					</a></td>
				<td><a sec:authorize="!isAuthenticated()" th:href="@{/index}" class="btn btn-default"> <span
							class="glyphicon glyphicon-shopping-cart"></span>
						Continuar
						comprando
					</a></td>
			</div>
		</div>
		<div class="row" th:unless="${carrito == null}">
			<div class="col-sm-12 col-md-10 col-md-offset-1">
				<table class="table table-hover">
					<thead>
						<tr>
							<th>Product</th>
							<th class="text-center">Precio Unidad</th>
							<th>Cantidad</th>
						</tr>
					</thead>
					<tbody th:each="carrito: ${carrito}">

						<tr>
							<td class="col-md-10">
								<div class="media">
									<img class="thumbnail pull-left media-object"
										th:src="@{/img/}+${carrito.rutaImagen}" style="width: 150px;">
									<div class="media-body">
										<h4 class="media-heading">
											&nbsp; <span th:text="${carrito.descripcion}">
											</span>
										</h4>
									</div>
								</div>
							</td>
							<td class="col-md-1 text-center"><strong th:text="${carrito.precioUnitarioSinIva+'€'}">
								</strong>
							<td id="cantidad1" class="text-left"><strong th:text="${carrito.cantidad}">

								</strong></td>

							<td class="col-md-1"><a th:href="@{/borrarCarrito/{id}(id=${carrito.id})}"
									class="btn btn-danger"><span class="glyphicon glyphicon-remove"></span> Eliminar
								</a></td>
						</tr>
					</tbody>
					<tr>
						<td></td>
						<td>
							<h3>Total</h3>
						</td>
						<td class="text-right">
							<h3>
								<div th:if="${sumaTotal !=null}">
									<strong th:text="${sumaTotal +'€'}">
									</strong>
								</div>

							</h3>
						</td>
					</tr>

					<tr>
						<td></td>
						<td><a sec:authorize="isAuthenticated()" th:href="@{/clientes}" class="btn btn-default"> <span
									class="glyphicon glyphicon-shopping-cart"></span>
								Continuar
								comprando
							</a></td>
						<td><a sec:authorize="!isAuthenticated()" th:href="@{/index}" class="btn btn-default"> <span
									class="glyphicon glyphicon-shopping-cart"></span>
								Continuar
								comprando
							</a></td>
						<td>
							<form th:action="@{/detallePedido}" method="post">
								<button type="submit" class="btn btn-success">FinalizarCompra</button>
							</form>
						</td>
					</tr>
				</table>
			</div>
		</div>
	</div>
	<br>
	<br>
</body>

</html>