<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="css/styles2.css">
	<title>Document</title>
</head>

<body>
	<div class="container">
		<div class="row">
			<div class="col-xs-6">
				<address>
					<strong>Comprado por:</strong><br> <span th:text="${nombre.getNombre()}"></span><br>
				</address>
			</div>
			<div class="col-sm-12 col-md-10 col-md-offset-1">
				<table class="table table-hover">
					<thead>
						<tr>
							<th>Product</th>
							<th class="text-center">Precio Unidad</th>
							<th>Cantidad</th>
						</tr>
					</thead>
					<tbody th:each="carrito: ${lineasPedido}">

						<tr>
							<td class="col-md-10">
								<div class="media">
									<img class="thumbnail pull-left media-object"
										th:src="@{/img/}+${carrito.producto.rutaImagen}" style="width: 150px;">
									<div class="media-body">
										<h4 class="media-heading">
											&nbsp; <span th:text="${carrito.producto.descripcion}">
											</span>
										</h4>
									</div>
								</div>
							</td>
							<td class="col-md-1 text-center"><strong th:text="${carrito.producto.precioUnitarioSinIva}">
								</strong>
							<td class="text-left"><strong th:text="${carrito.producto.cantidad}">

								</strong></td>

							<td class="col-md-1"><a th:href="@{/valorarProducto/{id}(id=${carrito.producto.id})}"
									class="btn btn-success"><span></span>Valorar Articulo
								</a></td><br>
							<td class="col-md-1"><a th:href="@{/valorarProducto/{id}(id=${carrito.producto.id})}"
									class="btn btn-danger"><span></span>Devolucion paracial del producto
								</a></td>
						</tr>
					</tbody>
					<tr>
						<td></td>
						<td>
							<h3>Total</h3>
						</td>
						<td class="text-right">
							<h3>
								<strong th:text="${total}">
								</strong>
							</h3>
						</td>
					</tr>

					<tr>
						<td></td>
						<td><a th:href="@{/clientes}" class="btn btn-default"> <span
									class="glyphicon glyphicon-shopping-cart"></span>
								Volver A Compra
							</a></td>
					</tr>
				</table>
			</div>
		</div>
	</div>
	<br>
	<br>
</body>

</html>