<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="css/styles2.css">
	<title>Document</title>
</head>

<body>
	<div class="container">
		<div class="row">
			<div class="col-xs-6">
				<address>
					<strong>Comprado por:</strong><br> <span th:text="${nombre.getNombre()}"></span><br>
				</address>
			</div>
			<div class="col-sm-12 col-md-10 col-md-offset-1">
				<table class="table table-hover">
					<thead>
						<tr>
							<th>Producto</th>
							<th class="text-center">Coste Unidad</th>
							<th>Cantidad</th>
							<th>Descuento Unidad</th>
							
						</tr>
					</thead>
					<tbody th:each="carrito: ${lineasPedido}">

						<tr>
							<td class="col-md-10">
								<div class="media">
									<img class="thumbnail pull-left media-object"
										th:src="@{/img/}+${carrito.producto.rutaImagen}" style="width: 150px;">
									<div class="media-body">
										<h4 class="media-heading">
											&nbsp; <span th:text="${carrito.producto.descripcion}">
											</span>
										</h4>
									</div>
								</div>
							</td>
							<td class="col-md-1 text-center" th:if="${carrito.producto.canjeable==0}"><strong th:text="${carrito.producto.precioUnitarioSinIva+'€'}">
								</strong></td>
								<td class="col-md-1 text-center" th:unless="${carrito.producto.canjeable==0}"><strong th:text="${carrito.producto.puntos+'P'}">
								</strong></td>
							<td class="text-left"><strong th:text="${carrito.getCantidad()}">

								</strong></td>
								<td class="text-left" th:if="${carrito.producto.canjeable==0}"><strong th:text="${carrito.producto.descuento+'%'}">
								</strong></td>
								<td th:unless="${carrito.producto.canjeable==0}"><span></span></td>

							<td class="col-md-1"><a th:href="@{/valorarProducto/{id}(id=${carrito.producto.id})}"
									class="btn btn-success"><span></span>Valorar Articulo
								</a></td><br>
							<td class="col-md-1">
								<form th:action="@{/devolucionParcial}" method="post">
									<input type="hidden" name="idCabecera" th:value="${carrito.cabeceraPedido.id}">
									<input type="hidden" name="idLineaProducto" th:value="${carrito.getId()}">
									<button type="submit" class="btn btn-danger">Solicitar devolucion parcialmente</button>
								</form>
							</td>
						</tr>
					</tbody>
					<tr>
						<td></td>
						<td>
							<h3 th:if="${total!=0}">Total Euros</h3>
						</td>
						<td class="text-right">
							<h3 th:if="${total!=0}">
								<strong th:text="${total}">
								</strong>
							</h3>
						</td>
								<td></td>
						<td>
							<h3 th:if="${totalPuntos!=0}">Total Puntos</h3>
						</td>
						<td class="text-right">
							<h3 th:if="${totalPuntos!=0}">
								<strong th:text="${totalPuntos}">
								</strong>
							</h3>
						</td>
					</tr>

					<tr>
						<td></td>
						<td><a th:href="@{/clientes}" class="btn btn-default"> <span
									class="glyphicon glyphicon-shopping-cart"></span>
								Volver A Compra
							</a></td>
					</tr>
				</table>
			</div>
		</div>
	</div>
	<br>
	<br>
</body>

</html>