<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" th:href="@{/css/styles2.css}">
	<title>Document</title>
</head>

<body>
	<h1 class="titulo-factura">Factura de compra</h1>
	<div class="container">
	<div class="row">
		<div class="col-xs-6">
			<address>
				<strong>Comprado por:</strong><br> <span th:text="${nombre.getNombre()}"></span><br>
			</address>
		</div>
		<div class="col-sm-12 col-md-10 col-md-offset-1">
			<table class="table table-hover">
				<thead>
					<tr>
						<th>Product</th>
						<th class="text-center">Precio Unidad</th>
						<th>Cantidad</th>
						<th>Descuento Unidad</th>
					</tr>
				</thead>
				<tbody th:each="carrito: ${listaCarrito}">

					<tr>
						<td class="col-md-10">
							<div class="media">
								<img class="thumbnail pull-left media-object" th:src="@{/img/}+${carrito.rutaImagen}"
									style="width: 150px;">
								<div class="media-body">
									<h4 class="media-heading">
										&nbsp; <span th:text="${carrito.descripcion}">
										</span>
									</h4>
								</div>
							</div>
						</td>
						<td class="col-md-1 text-center" th:if="${carrito.canjeable==0}"><strong th:text="${carrito.precioUnitarioSinIva+'€'}">
							</strong>
								<td th:unless="${carrito.canjeable==0}" class="col-md-1 text-center"><strong th:text="${carrito.puntos+' Puntos'}">
								</strong></td>
						<td class="text-left"><strong th:text="${carrito.cantidad}">
							</strong></td>
								<td class="text-left" th:if="${carrito.canjeable==0}"><strong th:text="${carrito.descuento+'%'}">
							</strong></td>
							<td th:unless="${carrito.canjeable==0}"><span></span></td>
					</tr>
				</tbody>
				<tr>
						<td></td>
						<td th:if="${sumaTotal !=0}">
							<h3>Total Euros</h3>
						</td>
						<td class="text-right" th:if="${sumaTotal !=0}">
							<h3>
								<div th:if="${sumaTotal !=null}">
									<strong th:text="${sumaTotal +'€'}">
									</strong>
								</div>

							</h3>
						</td>
						
							<td></td>
						<td th:if="${sumaTotalPuntos!=0}">
							<h3>Total Puntos</h3>
						</td>
						<td class="text-right" th:if="${sumaTotalPuntos!=0}">
							<h3>
								<div th:if="${sumaTotalPuntos !=null}">
									<strong th:text="${sumaTotalPuntos +'P'}">
									</strong>
								</div>

							</h3>
						</td>
				</tr>

				<tr>
					<td></td>
					<td><a th:href="@{/borrarCarrito}" class="btn btn-default"> <span
								class="glyphicon glyphicon-shopping-cart"></span>
							Volver a Compra
						</a></td>
				</tr>
			</table>
		</div>
	</div>
	</div>



	<br>
	<br>
</body>

</html>